{% load static %}
<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            background-image: url("{% static 'images/img-8.png' %}");
            
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
            width: auto;
        
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>LOGIN</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <center>
            <font size="+3" style="color: white;"> LOGIN</font>
        <form action="/login/" method="post">
            {% csrf_token %}
            <font style="color: rgb(255, 255, 255);">
                <br><br>
            <span>USERNAME</span>&nbsp&nbsp&nbsp&nbsp
            <input type="text" placeholder="" name="username" id="ip1">
            <br><br>
            <span>PASSWORD</span>&nbsp&nbsp&nbsp&nbsp
            <input type="password" placeholder="" name="password" id="ip1">
            <br><br> <br>
            <input type="submit" value="login" id="ip2">
        </center>
        </form>
    </body>
</html>