#ip1 {
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.863);
    background: rgba(240, 238, 238, 0.336);
    padding: 15px; 
    width: 200px;
    height: 8px;    
}

#ip2 {
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    background: rgba(240, 238, 238, 0.336);
    padding: 10px; 
    width: 100px;
    height: 40px;    
}